.header {
  z-index: 1;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
}

.navbar {
  align-items: center;
  background-color: #fff;
  margin-bottom: 50px;
  top: 0;
  height: 73px;
  padding: 0 0 5px 20px;
  margin: 8px 675px 5px 604px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 10px -4px #7c7c7c;
}
.navbar-list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-link {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #1d1d1d;
  transition: 0.3s;
}
.navbar-link:hover,
.navbar-link.active {
  color: #483cff;
}
.navbar-link-icon {
  font-size: 25px;
}

.navbar-underscore {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #483cff;
  transition: 0.3s;
}
